body {
    background-color: pink; /* Light pink background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: roboto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#letter {
    background-color: #fef6e4; /* Light yellow for the envelope */
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.to-address {
    font-size: 18px;
    color: #006400; /* Dark green text */
}

.address {
    font-size: 24px;
    font-weight: bold;
    color: #006400; /* Dark green text */
    margin-top: 10px;
}

.textalign {
    align-self: center;
    color: #006400; /* Dark green text */
}

.postal-stamp {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    position: relative;
}

.postal-stamp img {
    width: 100%;
    height: 100%;
}

.heart1 {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* Modal Styles */
.w3-modal-content {
    max-width: 600px;
    margin: auto;
}

.w3-container {
    padding: 16px;
}

.w3-button {
    padding: 8px 16px;
}

.w3-section {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: ivory ;
}


#heart-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0; /* Ensure it's behind the heart container */
}

.heart {
    position: absolute;
    width: 15px; /* Decreased size of floating hearts */
    height: 15px; /* Decreased size of floating hearts */
    background-color: #ff6f61;
    transform: rotate(-45deg);
    animation: float 10s infinite;
    opacity: 0.8;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 15px; /* Decreased size of floating hearts */
    height: 15px; /* Decreased size of floating hearts */
    background-color: #ff6f61;
    border-radius: 50%;
}

.heart::before {
    top: -7.5px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 7.5px;
}

@keyframes float {
    0% {
        transform: translateY(100vh) rotate(-45deg) scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh) rotate(-45deg) scale(1);
        opacity: 0;
    }
}

/* Hide the audio player */
#audio-background-music {
    display: none;
}
